@media screen and (max-width: 7066px) {
  html {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 6066px) {
  html {
    font-size: 52px !important;
  }
}
@media screen and (max-width: 5066px) {
  html {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 4066px) {
  html {
    font-size: 48px !important;
  }
}
@media screen and (max-width: 3566px) {
  html {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 3300px) {
  html {
    font-size: 26px !important;
  }
}


@media screen and (max-width: 2140px) {
  html {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 16px !important;
  }
}
