.banner-section {
  padding-top: 8rem;
  .banner-container {
    min-height: 33rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 18rem;
      width: 13rem;
      height: 18rem;
      transform: rotate(-30.345deg);
      border-radius: 19.26725rem;
      background: $white-clr;
      filter: blur(230px);
      z-index: -1;
      left: -10rem;
      @media screen and (max-width:768px) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: "";
      top: -3rem;
      width: 13rem;
      height: 18rem;
      transform: rotate(-30.345deg);
      border-radius: 19.26725rem;
      background: $white-clr;
      filter: blur(230px);
      z-index: -1;
      right: -10rem;
      @media screen and (max-width:768px) {
        display: none;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 80rem;
      margin: 0 auto;
      h2 {
        margin: 0;
        color: #FFF;
        font-size: 3.125rem;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        @media screen and (max-width:991px) {
          font-size: 2.5rem;
        }
        @media screen and (max-width:768px) {
          font-size: 2rem;
        }
        @media screen and (max-width:567px) {
          font-size: 1.75rem;
        }
        span {
          background: linear-gradient(90deg, #ffffff, #f1f5f9);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        margin: 0;
        color: #FFF;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.6;
        max-width: 60rem;
        margin: 0 auto;
        @media screen and (max-width:567px) {
          font-size: 1rem;
        }
      }
      a {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
